@font-face {
  font-family: "bungee";
  src: url('font/Bungee-Regular-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "typewriter";
  src: url('font/Ayuthaya.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  border: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  overflow: hidden;

  background: black;
}


#start-force-button {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
}

#game .game-id-container {
  text-align: center;
  font-family: "bungee";
}

#game .game-id-container h1 {
  font-size: 5vh;
  margin: 0;
}

#game .game-id-container #game-id {
  margin: 0;
  font-size: 20vh;
  line-height: 10vh;
}

#game {
  background: #7e7f7e;

  border-style: solid;
  border-image-source: url("img/gamefade-9slice.png");
  border-image-slice: 0 50%;
  border-width: 0 2.5vh 0 2.5vh;

  position: relative;
}


#game .header-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 6vh;
  z-index: 100;
}

#game .header-container .timer {
  box-sizing: border-box;
  background-color: #ca486c;
  border: 0.75vh solid black;
  color: white;
  text-align: center;
  min-width: 10vh;
  padding: 1vh;
  font-family: 'bungee';
  font-size: 5vh;
  line-height: 1;
}



#game .map-container {
  position: relative;
  height: 50vh;
  margin-top: 10vh;
}

#game .map-container .map-image {
  height: 100%;
}

#game .map-container .map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}



#game .status-container {
  height: 40vh;
}



#game .talker-message-container {
  margin-top: 5vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#game .talker-message-container .talker-portrait {
  height: 25vh;
}

#game .talker-message-container .talker-message-bubble {
  margin-left: 3vh;
  width: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#game .talker-message-container .talker-message-bubble .talker-message-arrow {
  height: 5vh;
}

#game .talker-message-container .talker-message-bubble .talker-message-text {
  flex: 1 1 auto;

  background: #ffffc8;
  border-style: solid;
  border-width: 4vh 3vh 4vh 3vh;
  border-image-source: url("img/dialogue_textbox.png");
  border-image-slice: 20% 10% 20% 10%;

  padding: 0vh 0 0vh 1vh;
  font-family: "typewriter";
  font-size: 2vh;
}
